body {
	background-color: black;
	color: whitesmoke;
}

/* #bootstrap-overrides ul.movies {
	list-style-type: none;
	padding: 0;
}

#bootstrap-overrides.messages.error {
	color: red;
}
#bootstrap-overrides.messages.success {
	color: lawngreen;
} */
