{% extends 'base.html' %} {% block title %}Greet V2{% endblock%} {% block
content%}
<div class="col-4">
	<div class="form-group">
		<form action="/greet-2">
			<label for="">Username:</label>
			<input
				type="text"
				class="form-control"
				name="username"
				id=""
				placeholder="Enter username"
			/>
			<div class="form-check mt-3">
				<label for="compliments" class="">
					<input
						type="checkbox"
						class="form-check-input"
						name="wants_compliments"
						id="compliments"
						checked
					/>
					Compliments?
				</label>
			</div>
			<button type="submit" class="btn btn-block btn-primary mt-3">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
